.navbar-web-desktop img{
    width: 30%;
}
.navbar-lista-desktop li a{
    text-decoration: none;
}
.navbar-lista-desktop ul{
    list-style: none;
}

.navbar-lista-desktop ul li a{
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: black;
}

.navbar-lista-desktop ul li a:hover{
    font-family: 'Rubik', sans-serif;
    color: #9ea808;
}

.foto-portada img{
    width: 100%;
}

.nosotros-parrafo-desktop{
    width: 100%;
}

.nosotros-desktop img{
    width: 20%;
    height: 13rem;
}
.nosotros-desktop p{
    /*width: 55%;*/
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 24px;
}

.undraw-desktop img{
    width: 65%;
}